body {
  font-family: "Inter", sans-serif;
  background-color: #f6f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* hero header */

.header {
  background-color: #06071b;
  padding-top: 20px;

  background-image: url(../images/mob-hero-1.png), url(../images/mob-hero-2.png),
    url(../images/mob-hero-3.png), url(../images/mob-hero-4.png);
  background-repeat: no-repeat;
  background-size: auto 430px, auto 456px, auto 650px, auto;
  background-position: right bottom 44px, right bottom 18px, right bottom -30px,
    right bottom -120px;
}

@media (min-resolution: 192dpi) {
  .header {
    background-image: url(../images/mob-hero-1@2x.png),
      url(../images/mob-hero-2@2x.png), url(../images/mob-hero-3@2x.png),
      url(../images/mob-hero-4@2x.png);
  }
}
.header-bar {
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
}

.header-bar-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header-menu-btn {
  background-color: transparent;
  border: none;
}

.heder-burger-icon {
}

.heder-nav {
  display: none;
}

.header-nav-list {
}
.header-nav-item {
}

.header-nav-link {
}

.hero {
  padding-top: 100px;
  padding-bottom: 127px;
}

.hero-title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 12px;
}

.hero-subtitle {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-bottom: 28px;
}

.hero-list {
  margin-left: 22px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-item {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  position: relative;
}

.hero-item::before {
  content: url(../images/arrow.svg);
  display: block;
  width: 7px;
  height: 12px;
  position: absolute;
  left: -22px;
  top: 0;
}

.hero-btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 42px;
  background-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: box-shadow 250ms ease-in-out;
}

.hero-btn:hover {
  box-shadow: inset 0px 0px 40px -14px rgba(0, 0, 0, 0.75);
}

.hero-btn:focus {
  box-shadow: inset 0px 0px 66px -16px rgba(0, 0, 0, 0.75);
}

.hero-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(../images/tab-hero-1.png),
      url(../images/tab-hero-2.png), url(../images/tab-hero-3.png),
      url(../images/tab-hero-4.png), url(../images/tab-hero-5.png),
      url(../images/tab-hero-6.png), url(../images/tab-hero-7.png),
      url(../images/tab-hero-8.png), url(../images/tab-hero-9.png);
    background-repeat: no-repeat;
    background-size: auto, auto, 60px 60px, 90px 90px, 84px 100px, 100px 100px,
      100px 100px, 76px 80px, 77px 76px;
    background-position: right -1px bottom -25px, right 445px top 90px,
      right 484px bottom 60px, right 479px bottom 109px,
      right 391px bottom 119px, right 360px bottom 199px,
      right 260px bottom 219px, right 273px bottom 302px,
      right 207px bottom 336px;
  }

  @media (min-resolution: 192dpi) {
    .header {
      background-image: url(../images/tab-hero-1@2x.png),
        url(../images/tab-hero-2@2x.png), url(../images/tab-hero-3@2x.png),
        url(../images/tab-hero-4@2x.png), url(../images/tab-hero-5@2x.png),
        url(../images/tab-hero-6@2x.png), url(../images/tab-hero-7@2x.png),
        url(../images/tab-hero-8@2x.png), url(../images/tab-hero-9@2x.png);
      background-size: 438px 485px, 391px 258px, 60px 60px, 90px 90px,
        84px 100px, 100px 100px, 100px 100px, 76px 80px, 77px 76px;
      background-position: right 2px bottom 7px, right 445px top 90px,
        right 484px bottom 60px, right 479px bottom 109px,
        right 391px bottom 119px, right 360px bottom 199px,
        right 260px bottom 219px, right 273px bottom 302px,
        right 207px bottom 336px;
    }
  }
  .header-bar-container {
    align-items: center;
  }
  .header-menu-btn {
    display: none;
  }

  .heder-nav {
    display: block;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-nav-link {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
  }

  .hero {
    padding-top: 60px;
    padding-bottom: 143px;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-subtitle {
    font-size: 20px;
  }

  .hero-list {
    margin-bottom: 62px;
    gap: 14px;
  }

  .hero-item {
    font-size: 14px;
  }

  .hero-btn {
    margin-left: 0;
    margin-right: auto;
  }

  .hero-img {
    display: block;
    position: relative;
    height: 60px;
    background-color: #f6f7f7;
  }

  .hero-screen-img {
    position: absolute;
    bottom: 45px;
    right: 58px;
    z-index: 999;
    width: 307px;
    height: 329px;
  }

  .hero-frame-img {
    position: absolute;
    bottom: 24px;
    right: 32px;
    width: 328px;
    height: 350px;
  }

  .hero-shadow-img {
    position: absolute;
    bottom: 0;
    right: 71px;
    width: 282px;
    height: 280px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 26px;

    background-image: url(../images/dt-hero-1.png), url(../images/dt-hero-2.png),
      url(../images/dt-hero-3.png), url(../images/dt-hero-4.png),
      url(../images/dt-hero-5.png), url(../images/dt-hero-6.png),
      url(../images/dt-hero-7.png), url(../images/dt-hero-8.png),
      url(../images/dt-hero-9.png);
    background-repeat: no-repeat;
    background-size: auto, auto, 80px 80px, 130px 130px, 120px 140px,
      130px 130px, 150px 150px, 95px 100px, 77px 76px;
    background-position: right -1px bottom -25px, right 1237px top 180px,
      right 827px bottom 99px, right 811px bottom 182px,
      right 688px bottom 215px, right 633px bottom 327px,
      right 486px bottom 299px, right 500px bottom 417px,
      right 400px bottom 407px;
  }

  @media (min-resolution: 192dpi) {
    .header {
      background-image: url(../images/dt-hero-1@2x.png),
        url(../images/dt-hero-2@2x.png), url(../images/dt-hero-3@2x.png),
        url(../images/dt-hero-4@2x.png), url(../images/dt-hero-5@2x.png),
        url(../images/dt-hero-6@2x.png), url(../images/dt-hero-7@2x.png),
        url(../images/dt-hero-8@2x.png), url(../images/dt-hero-9@2x.png);
      background-size: 572px 653px, auto, 80px 80px, 130px 130px, 120px 140px,
        130px 130px, 150px 150px, 95px 100px, 77px 76px;
      background-position: right -1px bottom -25px, right 337px top 80px,
        right 827px bottom 99px, right 811px bottom 182px,
        right 688px bottom 215px, right 633px bottom 327px,
        right 486px bottom 299px, right 500px bottom 417px,
        right 400px bottom 407px;
    }
  }

  .hero {
    padding-top: 145px;
    padding-bottom: 146px;
  }

  .hero-img {
    height: 0;
  }

  .hero-screen-img {
    bottom: 0;
    right: 92px;
    width: 430px;
    height: 460px;
  }

  .hero-frame-img {
    bottom: -27px;
    right: 55px;
    width: 459px;
    height: 489px;
  }

  .hero-shadow-img {
    bottom: -60px;
    right: 110px;
    width: 394px;
    height: 391px;
  }
}

/* main */

.main {
}

/* features */

.features {
  padding-top: 40px;
  padding-bottom: 40px;

  background-image: url(../images/background-gradient.png),
    url(../images/background-gradient.png);
  background-repeat: no-repeat;
  background-position: top -400px center, bottom center;
  background-size: 767px;
  opacity: 0.9;
}

@media (min-resolution: 192dpi) {
  .features {
    background-image: url(../images/background-gradient@2x.png),
      url(../images/background-gradient@2x.png);
  }
}

.features-title {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.features-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #000;
}

.features-list-img-wrap {
  position: relative;
}
.features-img {
  width: 180px;
  height: 401px;
  position: absolute;
  top: 40px;
}

.features-img-man {
  position: absolute;
  top: 20px;
  left: 40px;
  overflow: visible;
  object-fit: cover;
  /* width: 280px; */
  height: 406px;
}
.features-list-right,
.features-list-left {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.features-list-left {
  padding-top: 493px;
}
.features-list-right {
  margin-top: 44px;
}

.features-item-left,
.features-item-right {
  position: relative;
}

.features-item-left::before,
.features-item-right::before {
  content: url(../images/features-type-list.svg);
  position: absolute;
  width: 28px;
  height: 28px;
  left: -40px;
  top: -4px;
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
  margin-bottom: 12px;
}
.features-item-text {
  font-weight: 500;
  font-size: 12px;
  color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features {
    padding-bottom: 47px;

    background-image: url(../images/tab-features-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 429px 596px;
    /* position: relative; */
  }

  @media (min-resolution: 192dpi) {
    .features {
      background-image: url(../images/tab-features-bg@2x.png);
    }
  }

  .features-item-right:last-child {
    align-self: start;
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features-title {
    font-size: 24px;
  }

  .features-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .features-img {
    width: 276px;
    height: 592px;
    position: absolute;
    left: -99px;
  }

  .features-img-man {
    height: 598px;
    top: 40px;
    left: -30px;
  }

  .features-list-left,
  .features-list-right {
    gap: 50px;
    align-items: end;
  }

  .features-list-left {
    padding-top: 40px;
  }
  .features-item-left,
  .features-item-right {
    margin-top: 0;
    max-width: 257px;
  }

  .features-item-title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 13px;
  }
  .features-item-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .features {
    background-image: url(../images/dt-bg-1.png), url(../images/dt-bg-2.png);
    background-size: 300px, 1100px;
    background-position: right top, left bottom;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .features-title {
    margin-bottom: 80px;
  }

  .features-text {
    max-width: 855px;
    margin: 0 auto;
  }

  .features-list-img-wrap {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 56px;
  }

  .features-img-wrap {
    position: relative;
  }

  .features-img {
    position: static;
    width: 258px;
    height: 590px;
    padding-top: 11px;
    margin-right: 135px;
  }

  .features-img-man {
    top: 0;
    left: 80px;
  }

  .features-list-left,
  .features-list-right {
    justify-content: space-between;
    padding-bottom: 37px;
  }

  .features-item-left,
  .features-item-right {
    max-width: 220px;
  }
}

/* video */

.video {
  background-color: #06071b;
  padding-top: 40px;
  padding-bottom: 40px;

  background-image: url(../images/video-img-bg.png);
  background-position: center bottom -20px;
  background-repeat: no-repeat;
  background-size: 420px;
}

.video-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.video-text {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.video-link-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 23px;
}
.video-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #b544fe;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
.video-link-icon {
  fill: #fff;
}

.video-button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.video-img-container {
  position: relative;
  max-width: 280px;
  min-height: 258px;
  margin: 0 auto;
}

.video-img-bg {
  display: none;
}

.video-img-frame {
  position: absolute;
  bottom: 49px;
}
.video-img-screen {
  position: absolute;
  bottom: 64px;
  left: -5px;
}

@media screen and (min-width: 768px) {
  .video {
    padding-top: 80px;

    background-image: url(../images/video-img-bg.png),
      url(../images/video-bg.png);
    background-position: center bottom -40px, left 50px top;
    background-repeat: no-repeat;
    background-size: 550px, 350px;
  }

  .video-title {
    font-size: 24px;
  }

  .video-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .video-link-container {
    margin-bottom: 40px;
  }

  .video-img-container {
    max-width: 401px;
  }

  .video-img-frame {
    bottom: 49px;
  }
  .video-img-screen {
    left: 0px;
    width: 395px;
  }
}

@media screen and (min-width: 1280px) {
  .video {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../images/video-bg.png);
    background-position: left 250px top;
    background-size: 350px;
  }

  .video-container {
    display: flex;
  }

  .video-title {
    text-align: left;
    margin-bottom: 20px;
  }

  .video-text {
    margin-bottom: 40px;
    text-align: left;
    width: 479px;
  }

  .video-link-container {
    margin-bottom: 0;
    justify-content: start;
  }

  .video-img-container {
    max-width: 501px;
  }

  .video-img-bg {
    display: block;
    position: absolute;
    bottom: -180px;
    width: 500px;
    height: 600px;
  }

  .video-img-frame {
    bottom: 0;
  }

  .video-img-screen {
    bottom: 25px;
    width: 478px;
  }
}

/* team */

.team-review-wrap {
  background-image: url(../images/background-gradient.png),
    url(../images/background-gradient.png);
  background-repeat: no-repeat;
  background-position: left top, right bottom -100px;
}

@media (min-resolution: 192dpi) {
  .team-review-wrap {
    background-image: url(../images/background-gradient@2x.png),
      url(../images/background-gradient@2x.png);
    background-position: left -100px top -500px, right bottom -500px;
  }
}

@media screen and (min-width: 1280px) {
  .team-review-wrap {
    background-image: url(../images/dt-bg-1.png), url(../images/dt-bg-2.png);
    background-size: 300px, 1100px;
    background-position: right top, left top;
  }
}

.team {
  padding-top: 40px;
  padding-bottom: 40px;
}

.team-title {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-bottom: 24px;
  text-align: center;
}

.team-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #000;
  margin-bottom: 28px;
  /* max-width: 280px; */
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.team-item {
  padding: 16px;
  border-radius: 15px;
  max-width: 280px;
  /* height: 413px; */
  background-color: #06071b;
  background-image: linear-gradient(
    318deg,
    rgba(0, 197, 235, 0.5) 0%,
    rgba(181, 68, 254, 0.5) 100%
  );
}

.team-item-img {
  border-radius: 10px;
}

.team-item-title {
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.team-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .team-title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .team-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
    row-gap: 40px;
  }

  .team-item {
    padding: 20px;
    max-width: calc((100% - 32px) / 2);
  }

  .team-item-img {
    height: 299px;
  }

  .team-item-title {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .team-title {
    margin-bottom: 80px;
  }

  .team-text {
    max-width: 886px;
    margin-bottom: 56px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 32px;
    justify-content: space-between;
  }

  .team-item {
    padding: 12px;
  }
}
/* review */

.review {
  padding-top: 40px;
  padding-bottom: 40px;
}

.review-wrap {
}
.review-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}

.review-img {
  border-radius: 50%;
  margin: 0 auto;
}

.review-subtitle {
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  text-align: center;
}

.review-subtitle-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
}

.review-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #000;
  /* max-width: 280px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .review {
    padding-top: 0;
  }

  .review-title {
    font-size: 24px;
  }

  .review-subtitle-text {
    margin-bottom: 40px;
  }

  .review-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .review-text {
    max-width: 886px;
  }
}

/* contact us */

.footer {
  background-color: #06071b;
  background-image: url(../images/background-gradient.png);
  background-position: top;
}

.contact {
  padding-bottom: 40px;
  padding-top: 40px;
}

.contact-title {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-input-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-label {
}
.contact-form-input {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 14px;
  color: #939eac;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 8px;
}
.contact-form-textarea {
  width: 100%;
  border-radius: 5px;
  height: 220px;
  font-weight: 500;
  font-size: 14px;
  color: #939eac;
  padding-top: 12px;
  padding-left: 8px;
}

.contact-form-btn {
  border-radius: 5px;
  width: 181px;
  height: 42px;
  background-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  margin: 0 auto;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-text-wrap {
  padding-top: 40px;
}

.contact-subtitle {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.contact-text {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-bottom: 49px;
}
.contact-list {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 14px;
}

.contact-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-item-icon {
  fill: #fff;
}
.contact-address {
}
.contact-address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.contact-address-item {
}
.contact-address-link {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../images/footer-bg.png);
    background-position: top -300px left;
    background-repeat: no-repeat;
  }

  .contact {
    padding-bottom: 80px;
    padding-top: 74px;
  }

  .contact-title {
    font-size: 24px;
    margin-bottom: 38px;
  }

  .contact-input-wrap {
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
  }

  .contact-form-label {
  }

  .contact-form-input {
    width: 336px;
  }

  .contact-form-textarea {
    height: 162px;
  }

  .contact-subtitle {
    font-size: 24px;
  }

  .contact-text {
    font-size: 16px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  .contact-list {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background-position: right;
  }
  .contact {
    padding-top: 80px;
    padding-bottom: 79px;
  }

  .contact-title {
    margin-bottom: 80px;
  }

  .contact-container {
    flex-direction: row-reverse;
    gap: 140px;
    justify-content: space-between;
  }

  .contact-text-wrap {
    padding-top: 0;
  }

  .contact-subtitle {
    text-align: left;
  }

  .contact-text {
    margin-left: 0;
    margin-bottom: 20px;
    text-align: left;
  }

  .contact-list {
    justify-content: start;
  }

  .contact-address-list {
    align-items: start;
  }

  .contact-form-btn {
    margin-right: 0;
  }
}
/* footer */

.footer-container {
  border-top: 1px solid #fff;
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-bottom: 28px;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #07081c;

  background-image: url(../images/footer-bg.png);
  background-position: bottom;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu-logo {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  padding-top: 34px;
  display: block;
}

.mob-menu-close {
  position: absolute;
  top: 34px;
  right: 20px;
  /* width: 32px;
    height: 32px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.mob-menu-icon {
  fill: #fff;
}
.mobile-menu-list {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}
.mobile-menu-item {
}
.mobile-menu-link {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #fff;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  color: transparent;
  width: 100%;
  height: 100%;
}
.modal {
  position: absolute;
  background-color: #07081c;
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
}
.modal-close-icon {
  fill: #fff;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-top: 48px;
  margin-bottom: 24px;
}
.modal-download-list {
}
.modal-download-item {
  color: #fff;
}
.modal-download-button {
}
.modal-download-icon {
}
.modal-download-subtitle {
}
.modal-download-desc {
}
.modal-download-desc-item {
}
.modal-text {
}
.modal-footer-container {
}
.modal-footer-up-list {
}
.modal-footer-item {
}
.modal-footer-item-icon {
}
.modal-footer-text-wrap {
}
.modal-footer-text {
}
.modal-footer-text-blue {
}
.modal-footer-down-list {
}
.modal-footer-btn {
}
